# macOS 系統隱藏檔
.DS_Store

# 如果是 Python 專案
__pycache__/
*.pyc
venv/
.venv/

# 如果是 Node.js 專案
node_modules/

# IDE 相關設定檔 (例如 VS Code)
.vscode/

# 機密或環境變數檔
.env

# pdf檔案不需上傳
*.pdf

*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
*.webp
*.tiff

*.md


temp_pipeline/
my_pdfs/
output_md_marker/
final_md_outputs/
